{
    "service_port":"1102",
    "WR_hostIp":"192.168.0.111",
    "WR_port":"5432",

    "RO_hostIp":"192.168.0.111",
    "RO_port":"5432",

    "db":"mmcp_db",
    "user":"mmcp",
    "password":"mmcp",
    "dir":"/home/mandu/web_service/mmcpm_code_dir/"
}
